setuptools~=70.3.0
versioneer~=0.29
numpy>=1.24.3
AHRS~=0.3.1
scipy~=1.12.0
pyserial~=3.5
pyftdi~=0.54
matplotlib>=3.7.1
future~=0.18.3
PyVISA>=1.13.0
Pillow>=9.5.0
pyquaternion~=0.9.9
pandas~=1.5.3
tomli~=2.0.1
rich>=13.6.0
coloredlogs~=15.0.1
pyzmq~=25.1.2
protobuf~=6.30.2
click~=8.1.7
sigmf~=1.2.0
transitions~=0.9.1
pymavlink~=2.4.41
sqlalchemy~=2.0.31
flask~=2.3.3
marshmallow~=3.21.3
flask-marshmallow~=1.2.1
flask-sqlalchemy~=3.1.1
flask-marshmallow-openapi~=0.6.6
marshmallow-sqlalchemy~=1.0.0
Werkzeug~=3.0.1
psycopg2~=2.9.9
geographiclib~=2.0
tqdm>=4.66.4
tkinter-tooltip
psutil>=5.9.0
terminaltables>=3.1


requests~=2.32.3
toml~=0.10.2
python-dateutil~=2.9.0.post0
humanfriendly~=10.0
flask-cors~=5.0.1
Flask-SocketIO~=5.5.1
eventlet~=0.39.1